
#curWeather {
	background-size: cover;
	width: 100%;
	height: 500px;
}
   
   /* Background pictures for summary */
#curWeather.clear {
	background-image: url("../serahcdp.github.io/responsive_images/clear_300.jpg");
}

#curWeather.fog {
	background-image: url("../serahcdp.github.io/responsive_images/fog_300.jpg");
}

#curWeather.rain {
	background-image: url("../serahcdp.github.io/responsive_images/rain_300.jpg");
}

#curWeather.snow {
    background-image: url("../serahcdp.github.io/responsive_images/snow_300.jpg");
}

    #curWeather.cloud {
        background-image: url("../serahcdp.github.io/responsive_images/cloud_300.jpg");
    }

.bigimg{
	border: 1px solid #000;
	box-sizing: border-box;
	padding: 1px;
	width: 305px;
}

.large-caption {
	display: none;
}

.small-caption{
	display: block;
}

/********************************
* Default Styles - Mobile First
********************************/

@media (min-width: 1000px){

	.bigimg {
		width: 505px;
	}

	.large-caption {
		display: block;
	}

	.small-caption{
		display: none;

	}
	#curWeather.clear {
		background-image: url("../serahcdp.github.io/responsive_images/clear_500.jpg");
	}
	
	#curWeather.fog {
		background-image: url("../serahcdp.github.io/responsive_images/fog_500.jpg");
	}
	
	#curWeather.rain {
		background-image: url("../serahcdp.github.io/responsive_images/rain_500.jpg");
	}
	
	#curWeather.snow {
		background-image: url("../serahcdp.github.io/responsive_images/snow_500.jpg");
	}
	
	#curWeather.cloud {
		background-image: url("../serahcdp.github.io/responsive_images/cloud_500.jpg");
	}

}
