/*This is the stylesheet for the Weather Site*/

/*Table of Contents
1. Imports
2. General rules 
3. Mobile First rules 
4. Larger screen rules */

/*Section 1 - Imports*/
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/*Section 2 - General Rules*/
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

header {
    background-color: #0e89d5;
    display: inline-block;
    width: 100%;
}

#heading h2 {
  font-size: 3em;
  margin: 1.5px 0 0 auto;
}

#heading p {
  margin: 2px 0 0 auto;
}

#rain img{
width: 50%;
 max-width: 100%;
 }


#page-header
{
  display:flex;
}

#logo {
  float: left;
  max-width: 90px;
  }



h1,h2,h3,h4,h5,h6{
    font-family: 'Sansita', sans-serif;
}

body{
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

#high {
  color: red;
  display: inline;
}

#low {
  color: blue;
  display: inline;
}

/*Section 3 - Mobile First Rules*/

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
  }

  body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: auto;
}


nav a:link {
  color: #ffffff;
  text-decoration: none;
}

  nav ul li { 
    display: inline-block; 
    list-style: none; 
  }

  li, ol, ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
  }

    header h1 {
      display: inline;
  } 

  nav {
    background-color: #0e89d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }

  nav li a {
    display: block;
    width: 70px;
    padding: 16px;
    float: left;
}

  footer{
    margin-bottom: 2em;
   }

   #site {
    font-size: 2em;
    font-weight: 600;
  }
  #copyright {
    background-color: #0e89d5;
  }
  
  @media only screen and (max-width: 699px) {

  }
  
  /*Larger screen rules*/

  @media only screen and (min-width: 700px) {

    nav {
        position: relative;
    
    }
    
    #weather-info {
    
      display:flex;
      justify-content: center;
  
  }
