/*This is the stylesheet for the Weather Site*/

/*Table of Contents
1. Imports
2. General rules 
3. Mobile First rules 
4. Larger screen rules */

/*Section 1 - Imports*/
@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/*Section 2 - General Rules*/
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

header {
    background-color: #0e89d5;
    display: inline-block;
    width: 100%;
}

#heading h2 {
  font-size: 3em;
  margin: 1.5px 0 0 auto;
}

#heading p {
  margin: 2px 0 0 auto;
}

#rain
{
  width:100%;
}



#logo {
  float: left;
  max-width: 90px;
  }



h1,h2,h3,h4,h5,h6{
    font-family: 'Sansita', sans-serif;
}

body{
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}


/*Section 3 - Mobile First Rules*/

.tile{
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
  }


  nav ul li { 
    display: inline-block; 
    list-style: none; 
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
  }

  footer{
    margin-bottom: 2em;
   }

   #site {
    font-size: 2em;
    font-weight: 600;
  }
  #copyright {
    background-color: #0e89d5;
  }
  
  