/* nav {
    background-color: #de2226;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #ffffff;
    color: #de2226;
    padding: 11px;
} */

/* Small Screen */
@media only screen and (min-width: 700px) {
    #banner {
        width: 100%;
        height: 340px;
    }
    #bottom-part {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    #prod-description{
        display:flex;
    }
    #prod-description img{
        width: 20vw;
        height: 20vw;
        }
        
}
/* Large Screen */
#top {
    color: rgb(153, 0, 51);
    position: relative
}

#banner {
    width: 100%;
    height: 200px;
}

#acmerocket {
    position: absolute;
    top: 0px;
    right: 25px;
}

#purple {
    color: #990033;
}

#recipe {
    color: #0000ee;
}

h2 {
    color: #000000;
}

nav ul {
    color: #ffffff;
}

#white {
    width: 85%;
    margin: 0 auto;
    background-color: white;
}

table th {
    background-color: #808080;
    border-collapse: collapse;
}
#acmerocket{
    font-size: 1.5vw;
}
#actionbtn{
    font-size: 4vw;
    width: 3em;
}

hr{
    width: 98%;
    margin: 0 auto;
    height: 1px;
    background-color: #000000;
}
footer{
    text-align: center;
}
#prod-description img{
width: 100%;

}

.price {
    color: #de2226;
    font-size: 3vw;
}

/* General Rules */
#page-nav {
    background-color: #de2226;
    bottom: 0;
    left: 0;
    width: 100%;
}

#page-nav ul {
    display: flex;
    align-items: stretch;
    height: 2.5em;
    margin: 0;
    padding: 0;
    list-style: none;
}

#page-nav li {
    flex: 1;
    display: flex;
    justify-content: center;
}

#page-nav a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#page-nav a:hover {
    background-color: #ffffff;
    color: #000;

}
#background{
    /* background-image:"images/site/background.jpg" */
    background-image: url(../images/site/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
}